/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (teal): #ffffff;
Secondary Color (Orange): #e0b354;
 */

 :root {
    --primary-color: #05a3b8;
    --secondary-color: #e0b354;
    --tertiary-color: #ff0000;
    --font-weight: 700;

  }


body {
    background-color:var(--primary-color);
    font-family: 'Lato', sans-serif;
    font-weight:  400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

h1 {
   font-size: 30px;
   font-weight: var(--font-weight);
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--font-weight);
}

a {
    color:var(--secondary-color);
    text-decoration: none;
}

a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: var(--tertiary-color)
}

.button, button {
    border:inline-block;
    font-family:inherit;
    background-color: #d80f0f;
    color:white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition-duration: 0.2s;
    transition-property: opacity;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor:pointer;
    opacity:0.8;
}

.button_secondary {
    background-color: #e0b354;
    color:#2b2b2b;
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    position:center;
   
}

.profile  {
    max-width: 700px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.page-footer{
    clear: both;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
    background-color: mintcream;
    display:flex;
    width: 100%;
    padding: 20px; 
}

.page-header_item {
    flex: 0 1 200px; 
}

.page-header .page-header_item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none; 
}

.navigation-list li {
    display:inline-block;
    margin-left: 15px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.grid_item {
    background-color: lightgray;
}

@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

@media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

 @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  

    @keyframes cloud-move-reverse {
        from {
          transform: translate(446px, 48px);
        }
        to {
          transform: translate(100px, 48px);
        }
      }

      .cloud-back {
        animation: 34s cloud-move-reverse infinite alternate linear;
      }

      .table{
          text-align: center;
            margin-left:auto; 
            margin-right:auto;
      }

      .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2.5rem;
      }

      .page-container {
        position: relative;
        min-height: 100vh;
      }
      
      .content-wrap {
        padding-bottom: 2.5rem;    /* Footer height */
      }

      .header {
          text-align: right;
      }